* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
}
header {
  min-width: 320px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
header .nav {
  min-width: 120px;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header .nav nav {
  width: 60%;
  padding: 5px 0;
}
header .nav nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .nav nav ul li {
  list-style-type: none;
  margin-left: 3px;
  font-family: arial, sans-serif;
}
header .nav nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}
header span {
  width: 10px;
  height: 10px;
  margin-top: 5px;
}
header span .menu {
  width: 100%;
  height: 100%;
  color: grey;

  font-size: 1.2rem;
}

header .nav img {
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.conteiner {
  width: 100%;
  height: 80%;
  padding: 1rem 0;
  min-width: 320px;
  min-height: 400px;
  display: flex;
  justify-content: center;
}
.conteiner .google-comteiner {
  width: 80%;
  min-width: 200px;
  height: 90%;
}
.conteiner .logo {
  width: 100%;
  min-width: 200px;
  min-height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteiner .logo img {
  width: 50%;
  height: 30%;
  min-width: 120px;
  min-height: 50px;
}
.conteiner .search-google {
  margin-top: 1rem;
  width: 90%;
  min-width: 180px;
  min-height: 15px;
  height: 30%;
  position: relative;
}
.conteiner .google-comteiner input {
  width: 100%;
  background: 0 1px 6px rgb(32 33 36 / 28%);
  border: 1px solid #dfe1e5;
  outline: none;
  border-radius: 25px;
  height: 100%;
  padding: 0 25px;
  min-height: 25px;
}
.conteiner .google-comteiner input:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 1);
}
.conteiner .google-comteiner .search-google span:nth-of-type(1) {
  position: absolute;
  top: 25%;
  left: 3%;
}
.conteiner .google-comteiner .search-google span:nth-of-type(2) {
  position: absolute;
  top: 25%;
  right: 3%;
}
.conteiner .google-comteiner .search-google span:nth-of-type(1) i {
  color: blue;
}
.conteiner .google-conteiner__filter {
  padding-top: 10px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.google-conteiner__filter .search-google__info {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.google-conteiner__filter .search-google__info button {
  min-width: 30px;
  width: 40%;
  min-height: 20px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  background-color: #f8f9fa;
}
.google-conteiner__filter .search-google__info button:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  cursor: pointer;
}
.google-conteiner__filter .author--google {
  margin: 5px;
  color: #222;
  font-size: 0.4rem;
  font-family: arial, sans-serif;
}
.google-conteiner__filter .author--google a {
  text-decoration: none;
}
footer {
  width: 100%;
  min-height: 20px;
  min-width: 320px;
  font-family: arial, sans-serif;
  font-size: 0.2rem;
}
footer .origin {
  width: 100%;
  min-width: 320px;
  min-height: 10px;
  color: rgba(2, 0, 0, 0.54);
  height: 10%;
  background-color: #f2f2f2;
}
footer .footer-conteiner {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
}
footer a:hover {
  cursor: pointer;
  text-decoration: rgba(2, 0, 0, 0.54);
}
.footer-conteiner ul {
  list-style-type: none;
  display: flex;
}

.footer-conteiner ul a {
  text-decoration: none;
  color: rgba(2, 0, 0, 0.54);
}

.footer-conteiner .google-info {
  min-width: 320px;
  min-height: 10px;
  height: 100%;
  display: flex;

  justify-content: center;
}

.footer-conteiner .search-info {
  min-width: 320px;
  height: 100%;
  min-height: 10px;
  display: flex;
  justify-content: center;
}
.footer-conteiner .search-info a {
  text-decoration: none;
  color: rgba(2, 0, 0, 0.54);
}
.footer-conteiner .terminos-info {
  min-width: 320px;
  display: flex;

  min-height: 10px;
  justify-content: center;
  height: 100%;
}
